{
    "extends": ["next", "next/core-web-vitals"],
    "env": {
      "browser": true,
      "node": true
    },
    "rules": {
      "react/no-unescaped-entities": "off",
      "react/display-name": "off",
      "@next/next/no-page-custom-font": "off",
      "react-hooks/rules-of-hooks":"off",
      "@next/next/no-img-element": "off",
      "@next/next/no-html-link-for-pages": "off",
      "@next/next/no-sync-scripts" : "off",
      "no-unused-vars": "error",
      "no-undef": "error"
    }
  }