html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image > img {
    object-fit: cover;
}
.ui.selection.dropdown {
    border: 1px solid rgb(0, 0, 0);
}
.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
}
.ui.form input:not([type]), .ui.form input[type=date], 
.ui.form input[type=datetime-local], .ui.form input[type=email], 
.ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], 
.ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], 
.ui.form input[type=time], .ui.form input[type=url] {
    border: 1px solid rgb(0, 0, 0);
    font-family: Montserrat;
}
::placeholder {
    color: #000 !important;
    opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #000 !important;
}

@media screen and (max-height: 410px) and (orientation: landscape) { 
    .banner-home {
        display: none
    }
}

.ui.icon.input > input {
    background-color: transparent;
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 4px;
    caret-color: black;
    color: black;
    transition: 400ms;
}
.ui.card>.image>img, .ui.cards>.card>.image>img {
    height: auto !important
}
